body {
    background-image: url('morango_bg.png');
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
    font-family: 'Josefin Sans', sans-serif;
	height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

fieldset {
    background-color: #fff1f0;
    width: 30%;
    margin: auto;
    border: 0;
    padding: 2em;
    margin-top: 9%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Playwrite IN', cursive;
    font-weight: normal;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 0.1%;
    text-align: center;
}

label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #4e4949;
    margin-left: 2%;
    display: block;
    margin-bottom: 0.5em;
}

td {
    padding-right: 1em;
}

.campo {
    padding: 0.8em 0.7em;
    border: 1px solid #898989;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 94%;
    height: 35px;
    margin-left: 1.5%;
    margin-bottom: 1.5em;
    border-radius: 4px;
}

.campo2 {
    padding: 0.8em 0.5em;
    border: 1px solid #898989;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    width: 98%;
    height: 100px;
    margin-left: 1.5%;
    margin-bottom: 1.5em;
    border-radius: 4px;
}

.button {
    padding: 0.8em 1.5em;
    margin-left: 0.8em;
    border: none;
    border-radius: 5px;
    background-color: #898989;
    color: #fff1f0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #6c6c6c;
}

@media screen and (max-width: 1024px) {
    fieldset {
        width: 50%;
    }

    .campo {
        width: 90%;
    }

    .campo2 {
        width: 90%;
    }

    .button {
        width: 100%;
        margin-left: 0;
    }

}
@media screen and (max-width: 768px) {
    fieldset {
        width: 70%;
        padding: 1.5em;
    }

    h2 {
        font-size: 1.5rem;
    }

    .campo {
        width: 100%;
        height: 40px;
    }

    .campo2 {
        width: 100%;
        height: 100px;
    }

    .button {
        padding: 1em;
    }
}

@media screen and (max-width: 480px) {
    fieldset {
        width: 90%;
        padding: 1em;
    }

    h2 {
        font-size: 1.2rem;
    }

    label {
        font-size: 0.9rem;
    }

    .campo {
        width: 100%;
        height: 35px;
    }

    .campo2 {
        width: 100%;
        height: 100px;
    }

    .button {
        width: 100%;
        padding: 1em;
    }
}