fieldset{
	background-color: #fff1f0;
	width: 30%;
	margin: auto;
	border: 0;
	padding: 2em;
	margin-top: 7.6%;
}

body{
	background-color: #ffc6c3;
	font-family: ;
}	

h2{
  font-family: "Playwrite IN", cursive;
  font-weight: <weight>;
  font-style: normal;
  margin-left: 36%;
  margin-bottom: 2%;
  margin-top: 0.1%;
}

label {
  font-family: "Josefin Sans", sans-serif;
  font-weight: <weight>;
  font-style: normal;
  color: #4e4949;
  margin-left: 3%;
}

.campo{
	padding: 0.2em;
	border: 1px solid #898989;
	box-shadow: 1px 1px 1px rgb(0,0,0,0.2);
	font-family: "Josefin Sans", sans-serif;
	font-weight: <weight>;
	font-style: normal;
	width: 94%; 
	height: 25px;
	margin-left: 1.5%;
	margin-bottom: 5%;
	display: block;
}

.campo2{
	padding: 0.2em;
	border: 1px solid #898989;
	box-shadow: 1px 1px 1px rgb(0,0,0,0.2);
	font-family: "Josefin Sans", sans-serif;
	font-weight: <weight>;
	font-style: normal;
	display: block;
}

.button{
	padding: 0.2em;
	border: 1px solid #898989;
	box-shadow: 1px 1px 1px rgb(0,0,0,0.2);
	background-color: #898989;
	margin-top: 5%;
	font-family: "Josefin Sans", sans-serif;
	font-weight: <weight>;
	font-style: normal;
	height: 25px;
	color: #fff1f0;
}